* {
  padding: 0;
  margin: 0;
}
body {
  background: url("https://images.pexels.com/photos/783274/pexels-photo-783274.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: sans-serif;
}
.container {
  position: relative;
  margin-top: 100px;
  width: 450px;
  height: auto;
  background: #f0ebe6;
  border-radius: 5px;
}
.label {
  padding: 20px 130px;
  font-size: 35px;
  font-weight: bold;
  color: #463d34;
}
.login_form {
  padding: 20px 40px;
}
.login_form .font {
  font-size: 18px;
  color: #463d34;
  margin: 5px 0;
}
.login_form input {
  height: 40px;
  width: 350px;
  padding: 0 5px;
  font-size: 18px;
  outline: none;
  border: 1px solid #857c71;
}
.login_form .font2 {
  margin-top: 30px;
}
.login_form button {
  margin: 45px 0 30px 0;
  height: 45px;
  width: 365px;
  font-size: 20px;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background: #a37880;
  border-radius: 3px;
  border: 1px solid #9b7078;
  transition: 0.5s;
}
.login_form button:hover {
  background: #da9ca8;
}
.login_form #email_error,
.login_form #pass_error {
  margin-top: 5px;
  width: 345px;
  font-size: 18px;
  color: #d18a8a;
  background: rgba(255, 0, 0, 0.1);
  text-align: center;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #ef9a9a;
  display: none;
}
