/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

body {
  font-family: "Alegreya Sans SC";
}

span {
  font-family: "Alex Brush";
  font-size: 42px;
  color: #c98d83;
}

header {
  background-color: hsla(53, 22%, 93%, 0.882);
  color: #000000;
  padding: 10px;
  text-align: center;
}


.container {
  min-height: 100vh;
  display: flex;
  filter: brightness(80%);
  /* align-items: center; */
  background: url(assets/images/back.png) no-repeat;
  background-size: cover;
  background-position: center center;
}


.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}



aside {
  background-color: #f2f2f2;
  width: 200px;
  padding: 20px;
}
.logoContent {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 0px;
}

.logo img {
  width: 50px;
  height: 40px;
}

.logoName {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  color: #333;
  font-size: 24px;
  text-decoration: none;
}

.menu li a.active {
  font-weight: bold;
}

main {
  flex-grow: 1;
  padding: 50px;
}

.dashboard-grid {
  /* text-align: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.dashboard-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.dashboard-link {
  text-decoration: none;
  color: #333;
}

.dashboard-link:hover {
  color: #000;
}

h2 {
  margin-bottom: 10px;
}
.dashboard-image {
  width: 100px;
  height: 100px;
}

.admin-info {
  margin-top: 20px;
  margin-left: 20px;
  text-align: right;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.admin-info i {
  margin-right: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu a {
  color: #333;
  text-decoration: none;
}

/* --------------------------------DATA PEMESANAN---------------------------------- */

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #764e4e;
}

/* Lebar form menjadi 100% pada layar desktop */
@media (min-width: 768px) {
  form {
    max-width: 100%;
  }
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #764e4e;
  border-radius: 4px;
}

button.btn {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 10px;
  margin-top: 5px;
  background: #c98d83;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.btn:hover {
  background-color: #dfb9b9;
  color: #ffffff;
}

th {
  background-color: #ecd0d0c7;
  text-align: left;
  padding: 8px;
}

table {
  width: 100%;
  border-bottom: 1px solid #764e4e;
  padding: 8px;
  border-collapse: collapse;
  background-color: #ffffff;
  color: #333;
}

td {
  padding: 8px;
  border-bottom: 2px solid #ffffff;
}

tr:nth-child(even) {
  border-bottom: 1px solid #ffffff;
}

tr:hover {
  background-color: #dfb9b9;
}

/* -------------------------------DATA PEMESANAN-------------------------- */
#editOrderForm {
  width: 80rem;
  margin-left: 10px;
}
#editOrderStatus {
  width: 100%;
  padding: 8px;
  border-collapse: collapse;
}

/* -------------------------------DATA REVIEW----------------------------- */
#reviewList {
  width: 85rem;
}
#editReviewForm {
  width: 80rem;
  margin-left: 10px;
}
#cakeList {
  width: 83rem;
}
