body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: hsla(53, 22%, 93%, 0.882);
  color: #000000;
  padding: 20px;
  text-align: center;
}

.header .logoContent {
  display: flex;
  align-items: center;
}
.header .logoContent .logo img {
  height: 6rem;
}
.header .logoContent .logoNamee {
  color: black;
  font-weight: bolder;
  font-size: 9px;
  font-weight: 700;
}

nav {
  background-color: #f0f0f0;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
}

section {
  padding: 20px;
}

h2 {
  margin-top: 0;
}

.data-table {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
